<div class="cuadro">
    <div class="d-flex justify-content-center mx-5">
        <div class="col-3 text-center underline_end"></div>
        <div class="col-6">
            <p class="text-center mt-4"> LINEA DE PRODUCCIÓN</p>
        </div>
        <div class="col-3 text-center underline_end"></div>
    </div>
</div>

<div class=" d-flex col-12">
    <div class=" col-4 edit_img my-5 text-center">
        <img src="assets/images/ImgP5.png">
    </div>

    <div class=" d-flex col 12 justify-content-center">
        <div class=" col-8 edit_text">
            <h2>Arroz</h2> <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et 
            </p>
        </div>
    </div>
</div>

<div class=" d-flex col-12">
    <div class=" d-flex col 12 justify-content-center">
        <div class=" col-8 edit_text1">
            <h2>Aguacate</h2> <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et 
            </p>
        </div>
    </div>
    <div class=" col-4 edit_img1 my-5 text-center">
        <img src="assets/images/ImgP6.png">
    </div>
</div>

<div class=" d-flex col-12">
    <div class=" col-4 edit_img my-5 text-center">
        <img src="assets/images/ImgP7.png">
    </div>

    <div class=" d-flex col 12 justify-content-center">
        <div class=" col-8 edit_text">
            <h2>Maíz</h2> <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et 
            </p>
        </div>
    </div>
</div>


<div class=" d-flex col-12">
    <div class=" d-flex col 12 justify-content-center">
        <div class=" col-8 edit_text1">
            <h2>Soya</h2> <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et 
            </p>
        </div>
    </div>
    <div class=" col-4 edit_img1 my-5 text-center">
        <img src="assets/images/Imgp8.png">
    </div>
</div>