@import url(/src/styles.scss);

h1
{
  margin: 0%;
  padding: 0%;
}

p{
  margin: 0%;
  padding: 0%;
}

.underline_end{
  border-bottom: 2px solid;
  border-color: var(--color_two);
}
.border{
  border-color: var(--color_two) !important;
  box-shadow: 0px 10px 10px 0px rgba(50, 125, 27, 0.5);
}
.border_radius{
  border: 1px solid;
  border-color: var(--color_black);
  border-radius: 50%;
}
.border_top{
  border-top: 2px solid;
  border-color: var(--color_two);
}
.border_status{
  border: 1px solid;
  border-color: var(--color_black);
}
.image_one{
  width: 10%;
}
.width_div{
  width: 100%;
  height: 90%;
}
.square{
  height: 100%;
}
.bg_status{
  background-color: var(--color_five);
}

.interaction:hover{
  height: 105%;
  border-color: var(--color_black) !important;
  box-shadow: #007E00;
  transform-origin: center center;
  animation: rotateAnimation 4s;
}
@keyframes rotateAnimation {
  0%{
    transform: rotate(0deg);
  }
  10%{
    transform: rotate(-1deg);
  }
  
}

.bg_status_advertencia{
  background-color: #F48080;
}
.border_top_advertencia{
  border-top: 2px solid;
  border-color: #F48080;
}
.bg_status_pendiente{
  background-color: #F5E05D;
}
.border_top_pendiente{
  border-top: 2px solid;
  border-color: #F5E05D;
}

