<section class="col-12">
    <div class="d-flex justify-content-start">
        <div class="">
            <h2 class="mt-5 mx-5 ">PROGRAMAR MANTENIMIENTO</h2>
        </div>
        <div class="col-9 my-2 underline_end"></div>
    </div>
    <div class="row col-12">
        <div class="col-6 text-start">
            <label for="" class="font_text_label mx-5 justify-content-end">Fecha</label>
            <input class="find_2" type="date" placeholder="">
        </div>
        <div class="col-6 text-start">
            <div class="button my-4 ps-5">
                <button class="botton_primary mx-5 py-1 boton_1 ps-5" type="submit">Guardar Fecha</button>
            </div>
        </div>
    </div>
    <div class="col-12 px-5 py-4 margin_right">
        <div class="underline_end_1"></div>
    </div>

</section>