<div class="cuadro">
    <div class="d-flex justify-content-center mx-5">
        <div class="col-3 text-center underline_end"></div>
        <div class="col-6">
            <p class="text-center mt-4">QUIENES SOMOS</p>
        </div>
        <div class="col-3 text-center underline_end"></div>
    </div>
</div>

<div class=" d-flex col-12">
    <div class=" col-4 edit_img my-5 text-center">
        <img src="assets/images/ImgP4.png">
    </div>

    <div class=" d-flex col 12 justify-content-center">
        <div class=" col-8 edit_text">
            <p>Las fincas representan la belleza cruda de la vida rural.
                Con sus vastos campos verdes, colinas ondulantes y paisajes pintorescos, estas propiedades ofrecen un
                escape
                de
                la
                agitada vida en la ciudad.Las fincas no solo son espacios de producción agrícola, sino también refugios
                para aquellos que buscan la serenidad de la naturaleza.
            </p>
        </div>
    </div>
</div>