<section class="col-12 d-grid body_1">
    <div>
        <div class="d-flex justify-content-center mx-5">
            <div class="col-3 underline_end"></div>
            <div class="col-6">
                <h1 class="text-center mt-5 ">REGISTRO DE ACTIVIDAD</h1>
            </div>
            <div class="col-3 underline_end"></div>
        </div>

        <div class="d-flex col-12">
            <div class="col-6 text-start">
                <label for="" class="font_text_label mx-5 justify-content-end">Fecha</label>
                <input class="find_1" type="date" placeholder="">

                <div class="col-10 mx-5">
                    <label for="" class="font_text_label py-3 justify-content-end">Nombre Operario</label>
                    <input type="name" placeholder="Ingrese su Nombre Completo" class="form-control py-2">
                </div>

                <div class="col-10 mx-5">
                    <label for="" class="font_text_label py-3 justify-content-end">Lugar Trabajo</label>
                    <input type="name" placeholder="Lugar de trabajo" class="form-control py-2">
                </div>


                <div class="col-10 mx-5">
                    <label for="" class="font_text_label py-3 justify-content-end">Trabajo Desempeñado</label>
                    <input type="name" placeholder="Ingrese el trabajo desempeñado" class="form-control py-2">
                </div>

                <div class="col-6 my-5 px-5">
                    <button class="botton_primary py-1 btn_1" type="submit">Guardar Registro</button>
                </div>
            </div>
            <div class="d-flex col-12">
                <div class="col-8 text-start">
                    <label for="" class="label_1 font_text_label mx-1 justify-content-end">Máquina</label>
                    <input class="find_1" type="" placeholder="">
                    <div class="row col-12 ">
                    </div>

                    <div class="row col-12 ">

                        <div class="col-5">
                            <div class="col-6">
                                <label for="" class="font_text_label m-3 mx-1 justify-content-end">Hora Inicial</label>
                                <input type="name" placeholder="Horas Acumuladas" class="form-control py-2">
                            </div>

                            <div class="col-12">
                                <div class="col-6">
                                    <label for="" class="font_text_label m-3 mx-1 justify-content-end">Galones</label>
                                    <input type="name" placeholder="No Galones" class="form-control py-2">
                                </div>

                            </div>
                        </div>
                        <div class="col-6">
                            <div class="col-6">
                                <label for="" class="font_text_label m-3 mx-1 justify-content-end">Hora Final</label>
                                <input type="name" placeholder="Ingrese Hora" class="form-control py-2">
                            </div>

                            <div class="col-12">
                                <div class="col-6">
                                    <label for="implemento"
                                        class="font_text_label m-3 mx-1 justify-content-end">Implemento</label>

                                    <select id="implemento" class="form-select py-2">
                                        <option value="opcion0"></option>
                                        <option value="opcion1">PICORRIL DE MAIZ 206 6 SURCOS JD</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-8">
                        <label for="" class="font_text_label m-3 mx-1 justify-content-end">Eventualidades</label>
                        <input type="name" placeholder="Ingrese el trabajo desempeñado" class="form-control py-2">
                    </div>
                    <div class="col-6 my-5">
                        <button class="botton_primary py-1 btn_2" type="submit">Mantenimientos </button>
                    </div>
                </div>
            </div>
        </div>
    </div>