
    <div class="d-flex col-12">
        <div class="col-6 text-start">
            <div class="col-10 mx-5">
                <label for="" class="font_text_label py-3 justify-content-end">Codigo</label>
                <input type="name" placeholder="Tr-23" class="form-control py-2">
            </div>

            <div class="col-10 mx-5">
                <label for="" class="font_text_label py-3 justify-content-end">Nombre Maquina</label>
                <input type="name" placeholder="Fendt ideal 10T" class="form-control py-2">
            </div>

            <div class="col-10 mx-5">
                <label for="" class="font_text_label py-3 justify-content-end">Color</label>
                <input type="name" placeholder="Verde" class="form-control py-2">
            </div>
        </div>

        <div class="col-6 text-start mx-5">
            <div class="col-9 mx-5">
                <label for="" class="font_text_label py-3 justify-content-end">Placa</label>
                <input type="name" placeholder="Placa no obligatoria" class="form-control py-2">
            </div>

            <div class="col-9 mx-5">
                <label for="" class="font_text_label py-3 justify-content-end">Marca</label>
                <input type="name" placeholder="John Deere" class="form-control py-2">
            </div>

            <div class="button col-9 mx-5">
                <button class="botton_guardar py-1 w-100" type="submit">Guardar Registro</button>
            </div>
            
        </div>
    </div>

