<div class="cuadro">
    <div class="d-flex justify-content-center mx-5">
        <div class="col-3 text-center underline_end"></div>
        <div class="col-6">
            <p class="text-center mt-4">UBICACIÓN</p>
        </div>
        <div class="col-3 text-center underline_end"></div>
    </div>
</div>


<div>
    <div class="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15912.702042692435!2d-75.0703354!3d4.3782004!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e38d18573dfee4b%3A0xee7129c9ff9c488f!2sHacienda%20Piamonte!5e0!3m2!1ses!2sco!4v1698332797996!5m2!1ses!2sco"
          height="500" width="1500" loading="lazy"></iframe>
    </div>
</div>