<section class="col-12">

  <div class="d-flex col-12">
    <div class="col-6 colum_1 justify-content-star">
      <input class="find_1" type="name" placeholder="Buscar por codigo">
    </div>
    <div class="col-6 d-flex justify-content-end px-4">
      <div class="col-6 text-start">
        <label for="" class="font_text_label m-4 justify-content-end">Tipo de Maquinaria</label>
      </div>
      <select class="options col_ingery" name="" id="titulo">
        <option value="">Cosechadoras</option>
        <option value="">Volquetas</option>
        <option value="">Tractores</option>
        <option value="">Sembradoras</option>
        <option value="">Vehiculos</option>
      </select>
    </div>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="font_text_label text-center">Codigo</th>
            <th class="font_text_label text-center">Nombre Maquina</th>
            <th class="font_text_label text-center">Color</th>
            <th class="font_text_label text-center">Marca</th>
            <th class="font_text_label text-center">Acciones</th>
          </tr>
        </thead>

        <tbody class="font_text_label text-center my-5">
          <tr *ngFor="let item of adapter">
            <td>{{ item.idMachine }}</td>
            <td>{{ item.nameMachine }}</td>
            <td>{{ item.colorMachine }}</td>
            <td>{{ item.brandMachine }}</td>

            <td>
              <button class="btn_one" routerLink="/samba-edit-machinery-page" type="submit"><i class="fa-solid fa-pen-to-square"></i></button> &nbsp;
              <button class="btn_two" routerLink="/samba-register-activity-page" type="button"><i class="fa-solid fa-list-check"></i></button> &nbsp;
              <button class="btn_three" type="button"><i class="fa-solid fa-screwdriver-wrench"></i></button>
            </td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</section>