.find_1{
    margin-top: 20px;
    border-radius: 40px;
    font-size: 20px;
    height: 40px;
    width: 40%;
}

.colum_1{
    margin-right: 20px;
    float: left;
    display: flex;
    padding: 0 20px;
}

.options{

    border-radius: 40px;
    font-size: 20px;
    background-color: white;
    height: 50%;
    width: 50%;
}
.tittle_one{
    margin-left: 20%;
    
}
.col_ingery{
    width: inherit;
    margin-top: 21px;
}
.table{
    border-bottom: 1px solid;
}

.btn_one{
    background-color: #D0EB5C;
    border-radius: 60px;
    border: 1px solid

}

.btn_two{
    background-color: #87F387;
    border-radius: 60px;
    border: 1px solid

}

.btn_three{
    background-color: #F99494;
    border-radius: 60px;
    border: 1px solid
}



