@import url(/src/styles.scss);

.mmmm
{
    font-size: 30px;
    color: black
}
.w_100
{
    width: 60%;   
}
i{
  font-size: 30px;
  color: var(--color_two);
  left: 40%;
  
}
.dropdown-menu{
  background-color:white;
  text-decoration: none;
  border: solid 1px;
}
